{% extends 'main.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

<body>
  <div class="container">
    <img id="logo" src="{% static 'images/chat-icon.png' %}" style="padding-right: 150px;"/>
    <div class="login form">
      <div id="welcome-message">
        <h2>Join Room</h2>
    </div>
      <form action="{% url 'join_room' %}" method="POST">
        {% csrf_token %}
        <div class="form-field">
          <input type="text" placeholder="Enter room ID" name="roomID" style="text-transform:uppercase">
        </div> 
        <br>
        <div class="form-field">
          <input type="submit" class="button" value="Join">
        </div>
        <center>
          {% if success %}
          <p style="color: rgb(237, 241, 237);"><b>{{ success }}</b></p>
          {% endif %}
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
      </form>
    </div>
  </div>
</body>
{% endblock content %}
